body{
    margin-top: 250px;
}
div{
    text-align: center;
    border: 2px solid black;
    border-radius: 2px;
    background-color: cadetblue;
    width: 500px;
}
h1{
    color: gold;
    background-color: black;
}
input{
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 5px;
    padding: 10px;
}
button{
    border: 2px solid black;
    border-radius: 4px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 8px;
}